@{
    ViewData["Title"] = "QR Printer";
}

<h2>QR Code</h2>

<h4>
    Please enter the Job ID (8 digits) followed by Item ID (4 digits) without any spaces.
</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Index">
            <div class="form-group" id="qrForm">
                <label class="control-label">Job ID + Item ID (11 digits total)</label>
                <input class="form-control" name="qrText" id="qrText" required pattern="[0-9]{11}" oninvalid="setCustomValidity('The code must contain exactly 11 digits with no letters or special characters.')" />
            </div>
            <div class="form-group">
                <input type="submit" value="Print QR Code and add to database" class="btn btn-primary" />
                <input type="button" id="btnCustomer" value="Print QR code with Customer Details" class="btn btn-info pull-right" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}